<center><div class="row">
  <div class="col-md-4">
    <h3>Your current total score: <%= @current_user.score %></h3>
  </div>
  <div class="col-md-4">
    <h2><%= @current_user.name %>'s Progress</h2>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn home-button" name="button"><a href="/">Home</a></button>
  </div>
</div>



<canvas id="myChart" width="800" height="800"></canvas>
<% if @current_user.age <= 6  %>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Colors", "Counting"],
            datasets: [{
                label: 'Missed Questions',
                data: [<%= @current_user.missed_colors.to_i %>, <%= @current_user.missed_counting.to_i %> ],
                backgroundColor: [
                    'rgba(65, 244, 142, 0.5)',
                    'rgba(169, 65, 244, 0.5)',
                ],
                borderColor: [
                    'rgba(65, 244, 142,1)',
                    'rgba(169, 65, 244, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
        }
    });
  </script>
<% else %>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Math", "Spelling", "Science"],
            datasets: [{
                label: 'Missed Questions',
                data: [<%= @current_user.missed_math.to_i %>, <%= @current_user.missed_spelling.to_i %>, <%= @current_user.missed_science.to_i %>],
                backgroundColor: [
                  'rgba(65, 244, 142, 0.5)',
                  'rgba(169, 65, 244, 0.5)',
                  'rgba(244, 121, 65, 0.5)',
                ],
                borderColor: [
                  'rgba(65, 244, 142, 1)',
                  'rgba(169, 65, 244, 1)',
                  'rgba(244, 121, 65, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
  </script>
<% end %></center>
